@* @model Lms.Core.Models.ViewModels.StudentsAndTeachersIndexViewModel *@
@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Student"))
{
    <h1>Welcome Student!</h1>
}

@if (User.IsInRole("Teacher"))
{
    <h1 id="TeacherTitle">Welcome Teacher!</h1>
}
<div style="text-align:center">
    <img src="~/img/download (3).jpg" alt="logo"/>
</div>
<br/>


@* <a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Courses" asp-action="CourseDetails" asp-route-idFromCourse=@Model.idFromCourse *@
<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Courses" asp-action="CourseDetails" asp-route-idFromCourse=@ViewData["CourseId"]
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">
    Course information
</a>


<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Students" asp-action="CourseStudentsDetails" asp-route-idFromCourse=@ViewData["CourseId"]
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">
    Participants
</a>


<a class="btn btn-sm btn-primary buttonsOnIndexPageForStudent" asp-controller="Modules" asp-action="ModuleList" asp-route-idFromCourse=@ViewData["CourseId"]
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">Module information</a>


<div id="getCourseWithAjax"></div>

<br />