@model IEnumerable<Lms.Core.Entities.Module>


<br/>
<strong> @Html.DisplayNameFor(model => model.Name) </strong>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    @foreach (var item in Model)
                    {
                        <a class="list-group-item list-group-item-dark rounded" role="tab" id="moduleListForStudent-@item.Name"
                           asp-controller="Students" asp-action="ModuleDetail" asp-route-id="@item.Id"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-update="#getModuleDetailOrActivityDetailsWithAjax"
                           data-ajax-mode="replace">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                        <br>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div id="getModuleDetailOrActivityDetailsWithAjax"></div>
            </div>
        </div>
    </div>
</div>
