@model IEnumerable<Lms.Core.Entities.Module>

<br/>


<div class="card-deck" id="getmoduleListPartialPage">
    <div class="card border-0 col-auto mb-3" style="max-width: 14rem;">

        <strong> List of modules </strong>
      

        @foreach (var item in Model)
        {
            <a class="btn btn-primary" id="moduleListForStudent" asp-controller="Modules" asp-action="ModuleDetail" asp-route-id="@item.Id"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-update="#getModuleDetailOrActivityDetailsWithAjax"
               data-ajax-mode="replace">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        }

        @if (User.IsInRole("Teacher"))
        {
            <hr />
            <a class="btn btn-success" asp-controller="Modules" asp-action="Create" asp-route-id="@ViewData["ModuleCourseId"]">Add new module</a>
        }

    </div>

    <div class="card border-0 col-auto mb-3" style="max-width: 80rem;">
        <div id="getModuleDetailOrActivityDetailsWithAjax"></div>           
    </div>
</div>


   

