@{
    ViewData["Title"] = "Index";
}

<h1>Welcome Student!</h1>
<br />
<br />
<div>
    @{
        await Html.RenderPartialAsync("VeckoSchema");
    }
</div>
<br />
<br />

<a class="btn btn-sm btn-primary" asp-controller="Students" asp-action="CourseDetail"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace">Course information</a>

<a class="btn btn-sm btn-primary" asp-action="Index">Module information</a>
<a class="btn btn-sm btn-primary" asp-action="Index">Participants</a>

<div id="getCourseWithAjax"></div>






