

<table id="pdfToDownload" class="table">
    <thead>
        <tr>
            <th>Text</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@*<script src="~/js/jquery/jquery.min.js"></script>
<script type="text/javascript">

    function createPdf() {

        $(document).ready(function () {
      /*  Controller/GetPdfSeedToDownload, (In the PdfSeedToUploadRepository in the GetpdfSeedToUpload there is dataToShow) */
            $.getJSON("../dataToShow/GetPdfSeedToDownload", function (dataToShow) {
         /*   pdf is just to get a name */
                $.map(dataToShow, function (pdf) {
      /*          this is the table id*/
                    $("#pdfToDownload tbody").append("<tr><td>" + pdf.Text+"</td></tr>")
            });
        });
        $("#btnPrint").click(function () {
            $(".ignoreForPdf").hide();
            window.print();
            $(".ignoreForPdf").show();
        });
    });

    }

</script>*@

@*<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("../Download/GetPdfSeedToDownload", function (dataToShow) {
            $.map(pdfFile, function (pdf) {
                $("#pdfToDownload tbody").append("<tr><td>" + emp.Text + "</td></tr>")
            });
        });
        $("#btnPrint").click(function () {
            $(".ignoreForPdf").hide();
            window.print();
            $(".ignoreForPdf").show();
        });
    });
</script>*@