@model IEnumerable<Lms.Core.Models.ViewModels.VeckoSchemaViewModel>


<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">@item.WeekDay</h5>
                <a class="card-text">@item.Name</a>
                <a class="card-text">@item.ActivityTypeName</a>
                <br />
                <p class="card-text">Start time: </p>
            </div>
        </div>
    }
</div>