@model IEnumerable<Lms.Core.Models.ViewModels.DaySchemaViewModel>


<div class="card-deck">
    @foreach (var daySchema in Model)
    {
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">@daySchema.WeekDay</h5>
                @foreach (var activity in daySchema.ActivitySchemas)
                {
                    <a class="card-text">@activity.Name</a>
                    <a class="card-text">@activity.ActivityTypeName</a>
                    @if (activity.DeadLine)
                    {
                        <a class="card-text"></a>
                    }
                    <br />
                    <p class="card-text">Start time: </p>
                    <br />
                }
            </div>
        </div>
    }
</div>