/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/********** Literature **********/
#literatur-index-header {
    background-image: url(../img/literature-library-header.jpg) !important;
    background-position: center top;
    background-size: cover;
}
/********** end Literature **********/


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*        margin-bottom: 60px;
     background-size: cover;
     background-repeat: no-repeat;
     background-image: url('/img/gray-abstract-wireframe-technology-background.jpg');*/  
    margin-bottom: 60px;
/*    height: 100vh;
    overflow-x: hidden;
    color: #fff;*/
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

label {
    font-weight: 700;
}


@media print {
    .noprint {
        visibility: hidden;
    }
}
/******************************************/
.card {
    max-width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


#StudentTitle {
    text-align: center
}

#getCourseWithAjaxMain{

}

.moduleList {
    /*    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;*/
}


.buttonsOnIndexPageForStudent:focus {
    color: lightsalmon;
}

.buttonsOnIndexPageForStudent:hover {
    background: #1861ac;
}

/*.buttonsOnIndexPageForStudent {
    color: #7abaff;
}*/


.participantListForStudent {
    margin-left: 15px;
}

#StudentModuleViewTitle {
    text-align: center
}

#moduleListForStudent {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#moduleListForStudent:focus {
    color: lightsalmon;
}


#moduleListForStudent:hover {
    background: #1861ac;
}

.moduleDetailsForStudent {
    float: left;
    margin-bottom: 10px;
}

#studentModuleActivityTable {
    margin-right: 5px;
}

#StudentActivityViewTitle {
    text-align: center
}

.activityDetailsForStudent {
    margin-right: 20px;
    margin-bottom: 10px;
}


/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

.dataTables_length > label {
    color: black;
}

.dataTables_length > select > option {
    color: #ffc107;
}



/*Submit button on the module page for the student*/
.form-horizontal {
    margin-left: 200px;
    margin-top: 20px;
    position: absolute;
    right: 0px
}


.uploadButtonContainer {
    transform: translate(-50%, -50%);
}

.upload-box {
    font-size: 14px;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px lightgrey;
    width: 200px;
    outline: none;
}

::-webkit-file-upload-button {
    color: white;
    /* background: #206a5d;*/
    background: #1b6ec2;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
}

::-webkit-file-upload-button:hover {
    background: #1861ac;
}

.submitButton {
    margin-top: -30px;
}

.submitButton:hover {
    background: #1861ac;
}



/*Course list and title on Teacher page */
#TeacherTitle{
    text-align:center
}

#backgroundToCoursesOnTeacherPage {
    background-color: #f2f2f2;
}

#responsiveTable > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #e5e5e5;

}

#responsiveTable > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th { 
    background-color: #f2f2f2;
}

#courseTitleAndCreateButtonOnTeacherIndexPage {  
    right: 0;
    text-align: center;
}

#courseTitleAndCreateButtonOnTeacherIndexPage #courseTitleOnTeacherIndexPage, #createNewCourseButtonOnTeacherIndexPage {
    display: inline-block;
    }

#courseTitleOnTeacherIndexPage {
    position: absolute;
    left: 0;
    right: 0;
}

#createNewCourseButtonOnTeacherIndexPage {
    float: right;
    right: 0;
}

.clear {
    clear: both;
}




/*Participant page table with title*/
#responsiveParticipantTable > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e5e5e5;
}

#responsiveParticipantTable > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th { 
    background-color: #f2f2f2;
}

#participantTitle {
text-align:center
}




/*Personnel page table with title*/
#responsivePersonnelTable > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e5e5e5;
}

#responsivePersonnelTable > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f2f2f2;
}

#personnelTitle {
    text-align: center
}

