@{
    ViewData["Title"] = "Index";
}

<h1>Welcome Student!</h1>



<a class="btn btn-sm btn-primary" asp-controller="Courses" asp-action="Details" asp-route-id="1"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#getCourseWithAjax"
   data-ajax-mode="replace"   
   >Course information</a>

<a class="btn btn-sm btn-primary" asp-action="Index">Module information</a>
<a class="btn btn-sm btn-primary" asp-action="Index">Participants</a>

<div id="getCourseWithAjax"></div>




<br />
<br />
<div class="card-deck">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Monday</h5>
            <a class="btn btn-sm btn-primary" asp-controller="Activities" asp-action="Details">Activity1</a>
            <br />
            <p class="card-text">Start time: </p>
        </div>
    </div>
    <div class="card ">
        <div class="card-body text-center">
            <h5 class="card-title">Tuesday</h5>
            <a class="btn btn-sm btn-primary" asp-controller="Activities" asp-action="Details">Activity2</a>
            <br />
            <p class="card-text">Start time: </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Wednesday</h5>
            <a class="btn btn-sm btn-primary" asp-controller="Activities" asp-action="Details">Activity3</a>
            <br />
            <p class="card-text">Start time: </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Thursday</h5>
            <a class="btn btn-sm btn-primary" asp-controller="Activities" asp-action="Details">Activity4</a>
            <br />
            <p class="card-text">Start time: </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Friday</h5>
            <a class="btn btn-sm btn-primary" asp-controller="Activities" asp-action="Details">Activity5</a>
            <br />
            <p class="card-text">Start time: </p>
        </div>
    </div>
</div>

